<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Delete Beer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search_form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/beer_form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
  <link rel="stylesheet" href="../static/css/search_form.css">
  <link rel="stylesheet" href="../static/css/beer_form.css">
  <link rel="stylesheet" href="../static/css/table.css">
  
</head>

<body>
  <div class='nav-bar'>
    <div class='home-button' OnClick='location.href="./"'>
      <h3>Home</h3>
    </div>
  </div>
  
  <div class='left-content'>
    <form action='./del_beer' method='post'>
      <div class='search-content'>
        <div class='search-div'>
          <h5>Name </h5>
          <input name='beer-name'>
        </div>
      </div>
      
    <div class='search-content'>
      <div class='search-div'>
          <h5>Category </h5>
          <select name='category'>
            <option value='all'>All</option>
            {% for ctg in ctg_list %}
            <option value='{{ctg[0]}}'>{{ctg[1]}}</option>
            {% endfor %}
          </select>
        </div>
    </div>

      <div class='search-content'>
        <div class='search-div'>
          <h5>ABV </h5>
          <input name='ABV-min' class='ABV-input' value=0 placeholder='min'>
          ~
          <input name='ABV-max' class='ABV-input' value=99 placeholder='max'>
        </div>
      </div>

      <div class='search-content'>
        <div class='search-div'>
          <h5>Distributor </h5>
          <select name='distributor'>
            <option value='all'>All</option>
            {% for dist in dist_list %}
            <option value='{{dist}}'>{{dist}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class='search-content'>
        <div class='search-div'>
          <h5>Order by </h5>
          <select name='order-by'>
            <option value='name-asce'>Name in ascending </option>
            <option value='name-dsce'>Name in dscending</option>
            <option value='ABV-asce'>ABV in asceding</option>
            <option value='ABV-dsce'>ABV in dscending</option>
          </select>
        </div>
    </div>

      <input class='submit-button' type='submit' value='search'>
    </form>
  </div>

  <div class='right-content'>
    <table>
      <thead>
        <tr>
          <th class='beer-ID'>ID</th>
          <th class='beer-name'>Name</th>
          <th class='beer-dist'>Distributor</th>
          <th class='beer-ctg'>Category</th>
          <th class='beer-ABV'>ABV</th>
          <th class='beer-price'>Price</th>
          <th class='beer-Stock'>Stock</th>
          <th class='beer-del'>Delete</th>
        </tr>
      </thead>

      <tbody>
        {% for beer in beer_list %}
        <tr>
            <td class='beer-ID'>{{beer[0]}}</td>
            <td class='beer-name'>{{beer[1]}}</td>
            <td class='beer-dist'>{{beer[2]}}</td>
            <td class='beer-ctg'>{{beer[4]}}</td>
            <td class='beer-ABV'>{{beer[5]}}</td>
            <td class='beer-price'>{{beer[6]}}</td>
            <td class='beer-stock'>{{beer[7]}}</td>
            <td class='beer-del' style = "padding: 0px 2px;">
              <input class='del-btn' type='button' value='Delete' style="width: 80px;">
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(".del-btn").click(function(){ 
			var checkBtn = $(this);
			
			var tr = checkBtn.parent().parent();
			var td = tr.children();
			
			
			var id = td.eq(0).text();
			
			console.log(id);
  
      document.write('<form action="./del_beer" id="smb_form" method="post"><input type="hidden" name="beer-ID" value="'+ id +'"></form>');
      document.getElementById("smb_form").submit();
			
		});
  </script>
</body>

</html>
