table {
    border-collapse: collapse;
    border-top: 3px solid #168;
  }
  
  th {
    color: #168;
    background: #f0f6f9;
  }
  
  th, td {
    border: 1px solid #ddd;
  }
  
  td {
    padding-left: 5px;
  }
  tr {
    height: 40px;
  }